html{
    font-family: "Roboto Light",sans-serif;
}
body{
    background-color: rgba(205, 92, 92, 0.63);
}
h1{
    color: #004268;
    text-align: center;
}
.tableStyle{
    border:  solid rgba(0, 0, 0, 0.86) 3px;
    border-radius: 10px;
    background-color: rgba(205, 92, 92, 0.87);
    font-size: 20px;
    width: 250px;
    height: auto;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}